<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="menu">
            <ul>
                <li><a href="{{ path('instructions') }}">Instructions</a></li>
            </ul>
        </div>
        <div id="wrapper">
            <div id="container">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
