{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Instructions</h1>
        <p>You'll be creating a sample Inventory application to demonstrate your ability to learn Symfony and Doctrine's peculiarities.</p>
        <ol>
            <li>1. Create a new index page with a menu link titled "Parts".</li>
            <li>2. Create a Category entity which will hold Parts.</li>
            <li>3. Create a Part entity that is linked with a Category (other fields are up to you).</li>
            <li>4. Create admin pages to create and edit Categories with links in the menu.</li>
            <li>5. Create admin pages to create and edit Parts with links in the menu.</li>
            <li>6. Add a display of Parts to the index page with the ability to filter by Category.</li>
            <li>7. Add the FOSUserBundle module for login capabilities.</li>
            <li>8. Create an admin account with username 'admin' and password 'password' (Using the CLI is fine here).</li>
            <li>9. Make an admin login page.</li>
            <li>10. Restrict access to the admin pages to logged in people.</li>
            <li>11. Only display admin links to logged in users.</li>
            <li>12. Anything else you feel like doing to demonstrate your skills.</li>
        </ol>
    </div>
{% endblock %}
