{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Instructions</h1>
                <ol>
                    <li>Do the Charleston.</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
